#Ignora carpeta out
HolaMundo/out
matrices/out
poo/out
poo/.idea
poo/poo.iml
OrdenDeCompra/out/
paquetes/out
paquetes/paquetes.iml
paquetes/.idea
appfacturas/out
appfacturas/appfacturas.iml
appfacturas/.idea
*/out
*/.idea
*/*.iml
